html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/chart.css")
    title HELLO
  body
    
    
    //-script(src="js/jquery.min.js")
    script(src="js/libraries/chart.min.js")
    //-script(src="js/libraries/chart-piechart-outlabels.js")

    .canvas-holder#CanvasHolder(style="margin-top:30px;")
      canvas#Chart

    script(src="js/3.js")
      