// AGENDA
section
  section
    h3 Today's Agenda...
    ol
      li What's the problem?
      li Why should I care?
      li What should I do about it?
      li How can I be happy? #[sup *]
    div
      br
      span.fragment (specifically, like with my website.)

  section
    p But there 
      i will 
      | be a test!
    p (Or rather, lots of tests)