section
  section(data-background-iframe="charts/2.html" data-preload="false")

    cite.source
      strong Source: 
      a(href="https://httparchive.org/reports/page-weight")
        | HTTP Archive
    aside(class="notes" data-markdown).
      This is a problem that has been talked about, but has continued completely unabated

  section(data-background-image="img/bg/moore-lebowski.jpg")
    h2.white.shadowed(style="margin-top:40vh;") What about Moore's Law?

  section

    h3 Broadband speeds, 2015
    img(src="img/charts/speedmap-2015.png")

    cite.source
      strong Source:
      a(href="https://www.fastmetrics.com/internet-connection-speed-by-country.php") Fastmetrics

  section

    h3 Broadband speeds, 2023
    img(src="img/charts/speedmap-2019.png")

    cite.source
      strong Source:
      a(href="https://infogram.com/speed-test-2019-1ho16vdprqzx6nq") cable.co.uk

  section

    // SPAIN TABLE
    table
      caption 
        +link("https://www.speedtest.net/global-index#fixed")
          | Speedtest Index, Broadband
      thead
        tr
          th #
          th Country
          th ⇣ Mb/s
      tbody
        tr
          td #1
          td Singapore
          td 264.15
        tr
          td #2
          td Hong Kong
          td 263.07
        tr
          td #7
          td United States
          td 215.72
        tr.highlight
          td #12
          td Spain
          td 189.37
        tr
          td #24
          td Portugal
          td 150.45
        tr
          td #86
          td Croatia
          td 56.51
        tr
          td #128
          td Morocco
          td 24.78
        tr
          td #182
          td Cuba
          td 2.19

    .source
      span Source:
      +link("https://www.speedtest.net/global-index#fixed") Ookla

  section

    // SPAIN TABLE
    table(style="width:100%;")
      caption 
        a(href="https://www.speedtest.net/global-index#mobile") 
          | Speedtest Index, Mobile
      thead
        tr
          th #
          th Country
          th ⇣ Mb/s
      tbody
        tr
          td #1
          td United Arab Emirates
          td 269.41
        tr
          td #6
          td Norway
          td 146.02
        tr
          td #13
          td United States
          td 103.69
        tr
          td #30
          td Croatia
          td 75.71
        tr.highlight
          td #63
          td Spain
          td 40.47
        tr
          td #74
          td Ireland
          td 32.74
        tr
          td #132
          td Colombia
          td 11.97
        tr
          td #143
          td Cuba
          td 3.33

  section

    // SPAIN TABLE
    table(style="width:100%;")
      caption 
        a(href="https://www.cable.co.uk/mobiles/worldwide-data-pricing/") 
          | Cost Of 1Gb In Mobile Data
      thead
        tr
          th #
          th Country
          th EUR
          th USD
      tbody
        tr
          td #1
          td Israel
          td €0,046
          td $0.05
        tr
          td #4
          td Italy
          td €0,92
          td $0.27
        //-tr
          td #11
          td France
          td SEK 4.34
        tr.highlight
          td #68
          td Spain
          td €1,14
          td $1.24
        //-tr
          td #68
          td Spain
          td SEK 13.13
        tr
          td #80
          td Sweden
          td €1,33
          td $1.45
        tr
          td #154
          td United States
          td €3,05
          td $3.33
        //-tr
          td #190
          td Canada
          td 62 NOK
        tr
          td #191
          td Norway
          td €5,32
          td $5.81
        tr
          td #229
          td Falkland Islands
          td €40,82
          td $44.56

    // UK TABLE
    //-table(style="width:100%;")
      caption 
        a(href="https://www.cable.co.uk/mobiles/worldwide-data-pricing/") 
          | Cost Of 1GB In Mobile Data
      thead
        tr
          th #
          th Country
          th 1 Gb
      tbody
        tr
          td #1
          td India
          td £0.20
        tr
          td #37
          td Romania
          td £1.42
        tr
          td #62
          td France
          td £2.25
        tr
          td #79
          td Sweden
          td £2.76
        tr.highlight
          td #136
          td United Kingdom
          td £5.02
        tr
          td #153
          td Germany
          td £6.02
        tr
          td #182
          td United States
          td £9.32
        tr
          td #224
          td Greece
          td £24.65
    
    .source
      span Source:
      +link("https://www.cable.co.uk/mobiles/worldwide-data-pricing/") cable.co.uk

  // Cell Phone, download DOOM
  section(data-preload="false")
    table
      thead
        tr
          th Connection
          th(colspan="2") Download 3 megs
      tbody
        tr
          td 2G
          td 2 minutes
          td
            img(src="img/charts/download-2m.gif")
        tr
          td 3G
          td 10 seconds
          td
            img(src="img/charts/download-10s.gif")
        tr
          td 3G+
          td 6 seconds
          td
            img(src="img/charts/download-6s.gif")
        tr
          td 4G
          td 2 seconds 
          td
            img(src="img/charts/download-2s.gif")

  section(data-background-iframe="charts/3.html" data-preload="false")
    cite.source
      strong Source: 
      a(href="https://royal.pingdom.com/page-load-time-really-affect-bounce-rate/")
        | Pingdom

  section
    iframe(data-src="charts/timer.html" data-preload="false" style="width:100%; height:50vh; box-shadow:5px 5px 5px rgba(0,0,0,0.5)")
    aside.notes
      h2 30-40 seconds
      p Because time is real. It's experiential, but unmutable.
      p If I'm good in this presentation today, then hopefully our experience together will feel fast.
      p But if you find me boring or uninformative, everything's going to feel a whole lot slower. You might be looking at the clock.