section
  section(data-background-iframe="charts/2.html" data-preload="false")

    cite.source
      strong Source: 
      a(href="https://httparchive.org/reports/page-weight")
        | HTTP Archive
    aside(class="notes" data-markdown).
      This is a problem that has been talked about, but has continued completely unabated

  section(data-background-image="img/bg/moore-lebowski.jpg")
    h2.white.shadowed(style="margin-top:40vh;") What about Moore's Law?

  section

    h3 Broadband speeds, 2015
    img(src="img/charts/speedmap-2015.png")

    cite.source
      strong Source:
      a(href="https://www.fastmetrics.com/internet-connection-speed-by-country.php") Fastmetrics

  section

    h3 Broadband speeds, 2023
    img(src="img/charts/speedmap-2019.png")

    cite.source
      strong Source:
      a(href="https://infogram.com/speed-test-2019-1ho16vdprqzx6nq") cable.co.uk

  section

    // SWEDEN TABLE
    table
      caption 
        +link("https://www.speedtest.net/global-index#fixed")
          | Speedtest Index, Broadband
      thead
        tr
          th #
          th Country
          th ⇣ Mb/s
      tbody
        tr
          td #1
          td Singapore
          td 247.44
        tr
          td #2
          td Hong Kong
          td 242.99
        tr
          td #6
          td United States
          td 207.32
        tr.highlight
          td #8
          td Denmark
          td 192.68
        tr
          td #40
          td Finland
          td 95.70
        tr
          td #109
          td Croatia
          td 36.13
        tr
          td #132
          td Morocco
          td 20.72
        tr
          td #182
          td Cuba
          td 1.86

    .source
      span Source:
      +link("https://www.speedtest.net/global-index#fixed") Ookla

  section

    // SWEDEN TABLE
    table(style="width:100%;")
      caption 
        a(href="https://www.speedtest.net/global-index#mobile") 
          | Speedtest Index, Mobile
      thead
        tr
          th #
          th Country
          th ⇣ Mb/s
      tbody
        tr
          td #1
          td United Arab Emirates
          td 205.77
        tr
          td #6
          td Norway
          td 122.72
        tr.highlight
          td #10
          td Denmark
          td 101.19
        tr
          td #22
          td United States
          td 77.43
        tr
          td #38
          td Croatia
          td 56.82
        tr
          td #75
          td Ireland
          td 30.46
        tr
          td #135
          td Belarus
          td 10.42
        tr
          td #143
          td Cuba
          td 3.87

  section

    // SWEDEN TABLE
    table(style="width:100%;")
      caption 
        a(href="https://www.cable.co.uk/mobiles/worldwide-data-pricing/") 
          | Cost Of 1Gb In Mobile Data
      thead
        tr
          th #
          th Country
          th 1 Gb 🇩🇰
          th 1 Gb 🇺🇸
      tbody
        tr
          td #1
          td Israel
          td kr 0,35 
          td $0.05 USD
        tr
          td #4
          td Italy
          td kr 1,86
          td $0.27 USD
        //-tr
          td #11
          td France
          td SEK 4.34
        tr.highlight
          td #37
          td Denmark
          td kr 5,45
          td $0.79 USD
        //-tr
          td #68
          td Spain
          td SEK 13.13
        tr
          td #80
          td Sweden
          td kr 10,01
          td $1.45 USD
        tr
          td #154
          td United States
          td kr 22,99
          td $3.33 USD
        //-tr
          td #190
          td Canada
          td 62 NOK
        tr
          td #191
          td Norway
          td kr 40,11
          td $5.81 USD
        tr
          td #229
          td Falkland Islands
          td kr 307,66
          td $44.56 USD

    // UK TABLE
    //-table(style="width:100%;")
      caption 
        a(href="https://www.cable.co.uk/mobiles/worldwide-data-pricing/") 
          | Cost Of 1GB In Mobile Data
      thead
        tr
          th #
          th Country
          th 1 Gb
      tbody
        tr
          td #1
          td India
          td £0.20
        tr
          td #37
          td Romania
          td £1.42
        tr
          td #62
          td France
          td £2.25
        tr
          td #79
          td Sweden
          td £2.76
        tr.highlight
          td #136
          td United Kingdom
          td £5.02
        tr
          td #153
          td Germany
          td £6.02
        tr
          td #182
          td United States
          td £9.32
        tr
          td #224
          td Greece
          td £24.65
    
    .source
      span Source:
      +link("https://www.cable.co.uk/mobiles/worldwide-data-pricing/") cable.co.uk

  // Cell Phone, download DOOM
  section(data-preload="false")
    table
      thead
        tr
          th Connection
          th(colspan="2") Download 3 megs
      tbody
        tr
          td 2G
          td 2 minutes
          td
            img(src="img/charts/download-2m.gif")
        tr
          td 3G
          td 10 seconds
          td
            img(src="img/charts/download-10s.gif")
        tr
          td 3G+
          td 6 seconds
          td
            img(src="img/charts/download-6s.gif")
        tr
          td 4G
          td 2 seconds 
          td
            img(src="img/charts/download-2s.gif")

  section(data-background-iframe="charts/3.html" data-preload="false")
    cite.source
      strong Source: 
      a(href="https://royal.pingdom.com/page-load-time-really-affect-bounce-rate/")
        | Pingdom

  section
    iframe(data-src="charts/timer.html" data-preload="false" style="width:100%; height:50vh; box-shadow:5px 5px 5px rgba(0,0,0,0.5)")
    aside.notes
      h2 30-40 seconds
      p Because time is real. It's experiential, but unmutable.
      p If I'm good in this presentation today, then hopefully our experience together will feel fast.
      p But if you find me boring or uninformative, everything's going to feel a whole lot slower. You might be looking at the clock.