section
  section
    p Who knows the difference between
    table
      tbody
        tr
          td 
            h1.fragment Jpeg
          td 
            h1.fragment PNG
          td 
            h1.fragment GIF
  section
    table
      thead
        tr
          th FILE
          th IS
          th USE FOR...
      tbody
        tr.fragment
          td 
            b Jpeg
          td lossy
          td photos, rectangles, resizable things
        tr.fragment
          td 
            b PNG
          td lossless
          td drawings, screenshots, transparent backgrounds
        tr.fragment
          td 
            b SVG
          td vector
          td logos, icons, limited complexity
        tr.fragment
          td 
            b GIF
          td lossless
          td Basically nothing.
        tr.fragment
          td 
            b MP4
          td video
          td anything you think is a GIF
          
  section
    img(src="img/gif/tweet-mp4.gif")
  section
    img(src="img/screenshots/tweet-ideotv.png")
  section
    img(src="img/screenshots/tweet-rebuttal.png")
  section
    video(src="video/giphy.mp4" autoplay data-autoplay loop)
  section
    a(href="http://ministryofgifs.org" target="_blank")
      img(src="img/logos/ministry-of-gifs.png")
  section
    p Email doesn't follow any rules.