section
  section(data-background="img/gif/tmi-backaway.gif")

  section(data-background="img/gif/computer2.gif")
    aside(class="notes" data-markdown).
      **But we're clever people!** So we can fix this.
  
  section
    h3 This is a talk about easy wins.
    ul.fragment
      li no zealotry
      li minimal sacrifices