section
  section
    h3 Lemon, can't I do this automatically?
  section
    img(src="img/screenshots/dabutvin-github.png")
  section
    img(src="img/screenshots/imgbot-github.png")
  section
    img(src="img/screenshots/imgbot-install.png")
  section
    img(src="img/screenshots/imgbot-pr.png")