section

  // The Saxonz (GERMANY)
  // vs
  // The Tribe (GERMANY)
  // 2018
  +videoBG('METv5RbsdKE',250)
    h2.white.shadowed
      | Shrink The Web!
    .a-talk-by(style="margin-top:43vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)

  //- Jinjo Crew (KOREA)
  //- vs
  //- Squadron (United States)
  //-+videoBG('YPF_P7oTasI',122)
    h2.white.shadowed
      | Shrink The Web!
    .a-talk-by(style="margin-top:50vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
  
  // Poppin Jun & Phoenix lil'Mini
  /// vs. 
  // Zel & T.F.A
  // 2017
  +videoBG('7HJOdLUi544',140)
    h2.white.shadowed
      | Shrink The Web!
    .a-talk-by(style="margin-top:43vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)

  // The Royal Family (New Zealand)
  // 2015
  //-+videoBG('BJy6sR0-MVQ',15)
    h2.white.shadowed
      | Shrink The Web!
    .a-talk-by(style="margin-top:43vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)

  +videoBG('qJ6U34VRN2Y',25)
      h2.white.shadowed
        | Shrink The Web!
      .a-talk-by(style="margin-top:43vh;")
        b.white.shadowed
          | (a talk by @AhoyLemon)