// Lighthouse Scores
section

  section
    img(src="img/screenshots/paulirish-github.png")

  section
    img(src="img/logos/lighthouse.png")

  section
    p You already have this.
    p (just open up any Chromium browser)

  //-section
    table(style="width:100%;")
      caption
        code devsum.se
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/devsum-desktop.png')
          td
            +image('lighthouse/devsum-mobile.png')
  
  //-section
    table(style="width:100%;")
      caption
        code soprasteria.se
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/sopra-desktop.png')
          td
            +image('lighthouse/sopra-mobile.png')

  //-section
    table(style="width:100%;")
      caption
        code azure.microsoft.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/azure-desktop.png')
          td
            +image('lighthouse/azure-mobile.png')

  //-section
    table(style="width:100%;")
      caption Zend.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/zend-desktop.png')
          td
            +image('lighthouse/zend-mobile.png')

  //-section
    table
      caption Clever-Cloud.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/clever-cloud-desktop.png')
          td
            +image('lighthouse/clever-cloud-mobile.png')
  
  //-section
    table
      caption Corporate.AboutYou.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/aboutyou-desktop.png')
          td
            +image('lighthouse/aboutyou-mobile.png')
  
  //-section
    table
      caption NotPoutine.FYI
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/notpoutine-desktop.png')
          td
            +image('lighthouse/notpoutine-mobile.png')