// Lighthouse Scores
section

  section
    img(src="img/screenshots/paulirish-github.png")

  section
    img(src="img/logos/lighthouse.png")

  section
    p You already have this.
    p (just open up Chrome)

  section(data-background="img/bg/hunger-games.jpg")
    h2.white.shadowed(style="padding-top:20vh;") I need a volunteer.

  //-section
    table(style="width:100%;")
      caption Webinale.DE
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/webinale-desktop.png')
          td
            +image('lighthouse/webinale-mobile.png')

  //-section
    table(style="width:100%;")
      caption Zend.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/zend-desktop.png')
          td
            +image('lighthouse/zend-mobile.png')

  //-section
    table
      caption Clever-Cloud.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/clever-cloud-desktop.png')
          td
            +image('lighthouse/clever-cloud-mobile.png')
  
  //-section
    table
      caption Corporate.AboutYou.com
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/aboutyou-desktop.png')
          td
            +image('lighthouse/aboutyou-mobile.png')
  
  //-section
    table
      caption NotPoutine.FYI
      thead
        tr
          th DESKTOP
          th MOBILE
      tbody
        tr
          td
            +image('lighthouse/notpoutine-desktop.png')
          td
            +image('lighthouse/notpoutine-mobile.png')