section
  section
    p #[strong Q:] Who is this?
    img.fragment(src="img/margaret-hamilton.jpg")
    aside.notes
      h2 Margaret Hamilton 
      h4 1969
      p standing next to printouts of her software for the Apollo Project

  section(data-background="img/screenshots/thomasfuchs_tweet.jpg")

  section
    h3 Gary Bernhardt did the math...

  section(data-background="img/screenshots/garybernhardt_tweet.jpg")

  section(data-auto-animate)
    table
      thead
        tr
          th Framework
          th Files
          th Folders
          th Size
      tbody
        tr
          td Vue
          td 20,283
          td 2,932
          td 106 Mb
        tr
          td React
          td 26,472
          td 4,309
          td 111 Mb
        tr
          td Angular
          td 26,694
          td 3,550
          td 222 Mb

  section
    .grid(columns="2")
      .box(style="display:flex; align-items:center")
        img(src="svg/logos/angular.svg")
      .box.fragment
        img(src="img/3games.png")
    p.fragment (+ an of MP3 “Army of Me” at 256kbps)

section
  section
    p So, what's to be done about this?
    aside.notes.
      Well, this is a harder question to answer as it comes down to personal choices.

  section(data-background="img/gif/beerdance.gif")
    h1.blink.shadowed(style="font-size:260px; text-shadow:none;") 
      span(style="color:rgba(255,255,255,0.8);") WRITE HTML!

  section
    p Seriously though, write HTML.
    p.fragment (and CSS)