section

  section(data-auto-animate data-background-image="video/monae-5.png")
    h3.white.shadowed Today I wanna talk about
  section(data-auto-animate data-background-video="video/monae-5.webm" data-background-video-loop)
    h3.white.shadowed Today I wanna talk about
    h1(style="line-height:100%; text-shadow:none; color:rgba(255,255,255,0.5);")
      span(style="font-size:1.5em;") PERFORMANCE!
  section(data-background="img/gif/computer1.gif")
    h3.white.shadowed * WEBSITE PERFORMANCE
    aside(class="notes" data-markdown).
      By which I mean website performance. And to be clear, I'm fully cognizent of the idea that what I'm about to present here is a talk about building fast and performant websites. And I'll grant that I recognize this could be seen as *boring*.
      **But** website performance *matters*. A lot.