section
  section(data-background-video="video/monae-edit.mp4" data-background-video-muted data-background-video-loop)
    h3.white.shadowed Today I wanna talk about
    h2.shadowed.white.fragment
      span.blink PERFORMANCE!
  section(data-background="img/gif/computer1.gif")
    h3.white.shadowed (website performance)
    aside(class="notes" data-markdown).
      By which I mean website performance. And to be clear, I'm fully cognizent of the idea that what I'm about to present here is a talk about building fast and performant websites. And I'll grant that I recognize this could be seen as *boring*.
      **But** website performance *matters*. A lot.