section
  section
    p Let's start with the easy stuff.

  section(data-background-iframe="charts/1.html" data-background-interactive)
    .source
      strong Source
      a(href="#") Themeforest
  
  // PHOTOSHOP
  section
    img(src="svg/logos/photoshop.svg" style="max-height:50vh;")
    aside.notes
      p Start with Photoshop. This is for designers, but if you don't have Photoshop, I have more stuff for you.

  section(data-background="img/bg/bjork-save.png" data-background-size="contain") 
    //-img(src="img/bg/bjork-save.png")
    aside.notes
      p What do I click on?
  section(data-background="img/bg/bjork-save-2.png" data-background-size="contain")
    //-img(src="img/bg/bjork-save.png")
    aside.notes
      What do I click on?
  section
    img(src="img/screenshots/save-for-web-png.png")
    aside.notes
      Save for web inside save for web aren't I clever
  section(data-background-video="video/bjork-export.webm" data-background-size="contain")

  section
    .grid(columns="2")
      figure
        img(src="img/bjork-1.jpg")
        figcaption
          span 2.34 Mb

      figure.fragment
        img(src="img/bjork-1.jpg")
        figcaption
          span 219 Kb
    
    .fragment(style="margin-top:40px;")
      h2.blink 91% smaller!