section
  section
    p Let's do this in a browser!
  section
    img(src="img/screenshots/archibald-github.png" data-background-size="contain")

  section
    figure
      a(href="https://squoosh.app")
        img(src="svg/logos/squoosh.svg" style="max-height:50vh;")
      figcaption
        +link('https://squoosh.app') squoosh.app
  
  section(data-background-video="video/squoosh-demo.mp4")