section
  section
    img(src="img/screenshots/archibald-github.png" data-background-size="contain")

  section
    figure
      a(href="https://squoosh.app")
        img(src="svg/logos/squoosh.svg" style="max-height:50vh;")
      figcaption
        +link('https://squoosh.app') squoosh.app
    aside.notes
      p Start with Photoshop. This is for designers, but if you don't have Photoshop, I have more stuff for you.