include partials/_variables.pug
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides

      // Video Screens
      include sections/_intros.pug
      
      // Personal Intro
      include sections/_hello.pug

      // Performance
      include sections/_performance.pug

      // Agenda
      include sections/_agenda.pug

      // THE DOOM METAPHOR
      include sections/_doom.pug

      // A data dump
      include sections/_data.pug

      // HOPE. Get your bearings...
      include sections/_hope.pug

      // PHOTOSHOP
      include sections/_photoshop.pug

      // SQUOOSH
      include sections/_squoosh.pug

      // ImgBot 
      include sections/_imgbot.pug

      // File Types
      include sections/_filetypes.pug

      // TXT Compression
      include sections/_txtcompression.pug

      // Lighthouse
      include sections/_lighthouse.pug

      // I need a volunteer...
      include sections/_volunteer.pug

      // Modern Bloat
      include sections/_modern-bloat.pug

      // Thank You.
      include sections/_thank-you.pug
  
    include partials/_javascripts.pug